<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>0.0</real>
		<key>block_y</key>
		<real>0.0</real>
		<key>col</key>
		<integer>0</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>256</real>
		<key>block_y</key>
		<real>0.0</real>
		<key>col</key>
		<integer>1</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>512</real>
		<key>block_y</key>
		<real>0.0</real>
		<key>col</key>
		<integer>2</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>768</real>
		<key>block_y</key>
		<real>0.0</real>
		<key>col</key>
		<integer>3</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>60</real>
		<key>block_x</key>
		<real>1024</real>
		<key>block_y</key>
		<real>0.0</real>
		<key>col</key>
		<integer>4</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>0.0</real>
		<key>block_y</key>
		<real>256</real>
		<key>col</key>
		<integer>0</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>256</real>
		<key>block_y</key>
		<real>256</real>
		<key>col</key>
		<integer>1</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>512</real>
		<key>block_y</key>
		<real>256</real>
		<key>col</key>
		<integer>2</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>768</real>
		<key>block_y</key>
		<real>256</real>
		<key>col</key>
		<integer>3</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>60</real>
		<key>block_x</key>
		<real>1024</real>
		<key>block_y</key>
		<real>256</real>
		<key>col</key>
		<integer>4</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>0.0</real>
		<key>block_y</key>
		<real>512</real>
		<key>col</key>
		<integer>0</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>256</real>
		<key>block_y</key>
		<real>512</real>
		<key>col</key>
		<integer>1</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>512</real>
		<key>block_y</key>
		<real>512</real>
		<key>col</key>
		<integer>2</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>768</real>
		<key>block_y</key>
		<real>512</real>
		<key>col</key>
		<integer>3</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>256</real>
		<key>block_w</key>
		<real>60</real>
		<key>block_x</key>
		<real>1024</real>
		<key>block_y</key>
		<real>512</real>
		<key>col</key>
		<integer>4</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>189</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>0.0</real>
		<key>block_y</key>
		<real>768</real>
		<key>col</key>
		<integer>0</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>189</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>256</real>
		<key>block_y</key>
		<real>768</real>
		<key>col</key>
		<integer>1</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>189</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>512</real>
		<key>block_y</key>
		<real>768</real>
		<key>col</key>
		<integer>2</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>189</real>
		<key>block_w</key>
		<real>256</real>
		<key>block_x</key>
		<real>768</real>
		<key>block_y</key>
		<real>768</real>
		<key>col</key>
		<integer>3</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>block_h</key>
		<real>189</real>
		<key>block_w</key>
		<real>60</real>
		<key>block_x</key>
		<real>1024</real>
		<key>block_y</key>
		<real>768</real>
		<key>col</key>
		<integer>4</integer>
		<key>level</key>
		<integer>3</integer>
		<key>row</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
